<!doctype html>
<html>
  <head>
    <title>Loading html dynamically from remote source with react example</title>
  </head>
  <body>
	<h1>Dynamic loading of html</h1>

    <div id="react-main-mount">
      <%- reactOutput %>
    </div>

	<script src="/main.js"></script>
  </body>
</html>
